<!-- Wrapper Start -->
<div class="wrapper">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-sm-12 text-center">
        <div class="iq-error">
          <h1>401</h1>
          <h4 class="mb-0">Oops! Phiên đăng nhập đã hết hạn.</h4>
          <p>Do bạn không sử dụng quá lâu.</p>
          <a class="btn btn-primary mt-3" href="javascript:void(0);"  [routerLink]="[ '/dangnhap' ]"><i class="ri-home-4-line"></i>Về trang login</a>
          <img src="assets/images/error/01.png" class="img-fluid iq-error-img" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wrapper END -->
