<!-- Wrapper Start -->
<div class="wrapper">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-sm-12 text-center">
        <div class="iq-error">
          <h1>404</h1>
          <h4 class="mb-0">Oops! Trang web không tìm thấy.</h4>
          <p>Yêu cầu trang web không tồn tại.</p>
          <a class="btn btn-primary mt-3" href="javascript:void(0);" (click)="goback()"><i class="ri-home-4-line"></i>Quay lại</a>
          <img src="assets/images/error/01.png" class="img-fluid iq-error-img" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wrapper END -->
